{% extends 'layout.html' %}
{% load static %}

{% block scripts %}
    {{ data.toppings|json_script:"toppings_json" }}
    {{ data.extras|json_script:"extras_json" }}
    {{ data.sizes|json_script:"sizes_json" }}
    {{ data.prices|json_script:"prices_json" }}
    <script src="{% static 'index.js' %}"></script>
    <script>
        var user_is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
    </script>
{% endblock %}

{% block title %}<title>Pizzeria</title>{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
    <div class="container mt-4 alert alert-warning" role="alert">
        Welcome guest! Hope you find our menu interesting! If you want to start completing your order, please log in!
    </div>
    {% endif %}
    <div class="container mt-4 mb-4 p-3 bg-main">
        <h4>Regular Pizza</h4>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" style="width: 60%"></th>
                    <th scope="col" style="width: 20%">Small</th>
                    <th scope="col" style="width: 20%">Large</th>
                </tr>
            </thead>
            <tbody>
                {% for pizza in data.regular %}
                <tr>
                    <td>{{ pizza.name }}</td>
                    <td id="{{ pizza.id }}" class="price_field" data-toppings_no="{{ pizza.toppings_no }}" data-meal="pizza" data-size="small"></td>
                    <td id="{{ pizza.id }}" class="price_field" data-toppings_no="{{ pizza.toppings_no }}" data-meal="pizza" data-size="large"></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <h4>Sicilian Pizza</h4>
          <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" style="width: 60%"></th>
                    <th scope="col" style="width: 20%">Small</th>
                    <th scope="col" style="width: 20%">Large</th>
                </tr>
            </thead>
            <tbody>
                {% for pizza in data.sicilian %}
                <tr>
                    <td>{{ pizza.name }}</td>
                    <td id="{{ pizza.id }}" class="price_field" data-toppings_no="{{ pizza.toppings_no }}" data-meal="pizza" data-size="small"></td>
                    <td id="{{ pizza.id }}" class="price_field" data-toppings_no="{{ pizza.toppings_no }}" data-meal="pizza" data-size="large"></td>                
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <h4>Toppings</h4>
          <table class="table table-sm">
            <tbody>
                {% for topping in data.toppings %}
                <tr><td>{{ topping.name }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
          <h4>Subs</h4>
          <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" style="width: 60%"></th>
                        <th scope="col" style="width: 20%">Small</th>
                        <th scope="col" style="width: 20%">Large</th>
                    </tr>
                </thead>
            <tbody>
                {% for sub in data.subs %}
                <tr>
                    <td>{{ sub.name }}</td>
                    <td id="{{ sub.id }}" class="price_field" data-meal="sub" data-size="small"></td>
                    <td id="{{ sub.id }}" class="price_field" data-meal="sub" data-size="large"></td>                   
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <h4>Pasta</h4>
          <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" style="width: 60%"></th>
                        <th scope="col" style="width: 40%">Regular</th>
                    </tr>
                </thead>
            <tbody>
                {% for item in data.pasta %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td id="{{ item.id }}" class="price_field" data-meal="pasta" data-size="regular"></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <h4>Salad</h4>
          <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" style="width: 60%"></th>
                        <th scope="col" style="width: 40%">Regular</th>
                    </tr>
                </thead>
            <tbody>
                {% for salad in data.salads %}
                <tr>
                    <td>{{ salad.name }}</td>
                    <td id="{{ salad.id }}" class="price_field" data-meal="salad" data-size="regular"></td> 
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <h4>Dinner Platters</h4>
          <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" style="width: 60%"></th>
                        <th scope="col" style="width: 20%">Small</th>
                        <th scope="col" style="width: 20%">Large</th>
                    </tr>
                </thead>
            <tbody>
                {% for platter in data.platters %}
                <tr>
                    <td>{{ platter.name }}</td>
                    <td id="{{ platter.id }}" class="price_field" data-meal="platter" data-size="small"></td>
                    <td id="{{ platter.id }}" class="price_field" data-meal="platter" data-size="large"></td>     
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <!-- Modal shown when meal can be modified -->
    <div class="modal" id="order_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal header -->
                <div class="modal-header">
                    <h4 id="order_modal_title" class="modal-title">Customize it!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div id="order_modal_body" class="modal-body">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="add_button" class="btn btn-success" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
      </div>
    <div id="div_toasts">
    </div>
{% endblock %}